//Font Imports

@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/Font/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/Font/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/Font/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: demi;
  font-style: normal;
}
