// Fonts
$font-primary: Helvetica, sans-serif;
$sansSerif: "Open Sans";

// screen sizes
$min-width: 320px;
$max-width: 1920px;

// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Card cLLORS
$color-card-border: #c7b63b;
$color-card-background: rgb(219, 203, 203);

// Color types
$color-type-dark: gray;
$color-type-ice: rgb(38, 173, 207);
$color-type-ground: orange;
$color-type-fighting: black;
$color-type-fairy: pink;
$color-type-eletric: yellow;
$color-type-fairy: pink;
$color-type-fire: rgb(145, 17, 17);

// Spacing
$pad: 1em;
$gap: 1em;

// Spacing
$pad: 1em;
$gap: 1em;
