// Fonts
$font-primary: "Avenir Next", Helvetica, sans-serif;
$sansSerif: "Open Sans";

// screen sizes
$min-width: 320px;
$max-width: 1920px;

// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// logo size
$logo-width: 120px;
$logo-height: 20px;

// Icon Sizes
$icon-width: 25px;
$icon-height: 25px;

// Colors
$color-black: #323232;
$color-silver: #afafaf;
$color-white: #ffffff;
$color-darkblack: #000000;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;
$color-error: #d22d2d;

$color-yellow: #ffe100;
$color-border: #c7b63b;

// Color types
$color-type-dark: gray;
$color-type-ice: rgb(38, 173, 207);
$color-type-ground: orange;
$color-type-fighting: black;
$color-type-fairy: pink;
$color-type-eletric: yellow;
$color-type-fairy: pink;
$color-type-fire: red;

// Spacing
$pad: 1em;
$gap: 1em;

// Spacing
$pad: 1em;
$gap: 1em;
