/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in
the project.
*/
/*
This file can be used to overwrite any normailze settings.
*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html *,
body * {
  box-sizing: inherit;
}

/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: Helvetica, sans-serif "Helvetica Neue, Helvetica, Arial";
}

a {
  text-decoration: none;
}

.text--description {
  font-size: 4vmin;
}
.text--name {
  font-size: 5vmin;
}
.text--basic {
  font-size: 2.5rem;
}
.text--hp {
  font-size: 3.75rem;
}
.text--author {
  font-size: 2vmin;
}
.text--bold {
  font-weight: bold;
}
.text--normal {
  font-weight: normal;
}

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.s
*/
.button__type {
  padding: 1rem;
  font-size: 1rem;
}
.button__type--fire {
  background-color: red;
}
.button__type--water {
  background-color: blue;
}

/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to layouts.
*/
.footer {
  display: flex;
  padding: 1vmin 2vmin;
  justify-content: space-around;
  align-items: end;
}

.card {
  background-color: #e7e2df;
  display: flex;
  flex-direction: column;
  border: 2vmax solid #ffe165;
  border-radius: 4%;
  padding: 4vmin;
  aspect-ratio: 1/1.41;
  flex: 1;
}
.card__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: end;
}
.header__type {
  aspect-ratio: 1/1;
  background-color: #b2afad;
  height: 5vh;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.header__type--image {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.frame {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.frame__image {
  background-color: rgb(240, 232, 186);
  border: 1vmin solid #d3962c;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  width: 100%;
}
.frame__image--image {
  width: 70%;
  height: auto;
}
.frame__description {
  display: flex;
  justify-content: center;
  border: 0.3vmin solid #d3962c;
  background-color: #e0a23b;
  margin: 0.5vw 2vw;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2vw;
  background-color: orange;
  border-radius: 4%;
}
.game__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  gap: 1vw;
}
.game__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 6vh;
  width: 6vh;
}
.game__button:hover {
  background-color: gray;
}
.game__img {
  width: 100%;
  height: 100%;
}

/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to pages.
*/
.app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

/*
This file is used to contain all layout imports.
Files inside this folder should contain all styles relating
to sections.
*//*# sourceMappingURL=styles.css.map */