/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: $font-primary, "Helvetica Neue, Helvetica, Arial";
}

a {
  text-decoration: none;
}

@mixin typo($size, $height, $weight) {
  font-size: rem($size);
  font-weight: $weight;
  line-height: rem($height);
}

.text {
  &--description {
    font-size: rem(32px);
  }
  &--name {
    font-size: rem(60px);
  }
  &--basic {
    font-size: rem(24px);
  }
  &--hp {
    font-size: rem(60px);
  }
  &--bold {
    font-weight: bold;
  }
  &--normal {
    font-weight: normal;
  }
}

.color {
  color: $color-black;

  &--black {
    color: black;
  }
}
