/* Reboot */
html,
body {
  margin: 0 !important;
}

/* Typography */
body {
  font-family: $font-primary "Helvetica Neue, Helvetica, Arial";
}

a {
  text-decoration: none;
}

@mixin typo($size, $height, $weight) {
  font-size: rem($size);
  font-weight: $weight;
  line-height: rem($height);
}

.text {
  &--description {
    font-size: 4vmin;
  }
  &--name {
    font-size: 5vmin;
  }
  &--basic {
    font-size: rem(40px);
  }
  &--hp {
    font-size: rem(60px);
  }
  &--author {
    font-size: 2vmin;
  }
  &--bold {
    font-weight: bold;
  }
  &--normal {
    font-weight: normal;
  }
}
