.card {
  background-color: $color-card-background;
  display: flex;
  flex-direction: column;
  border: 2vmax solid $color-card-border;
  border-radius: 4%;
  padding: 4vmin;
  aspect-ratio: 1/1.41;
  flex: 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
