.frame {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__image {
    background-color: rgb(240, 232, 186);
    border: 1vmin solid $color-image-border;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    width: 100%;

    &--image {
      width: 70%;
      height: auto;
      // height: 35vh;
    }
  }
  &__description {
    display: flex;
    justify-content: center;
    border: 0.3vmin solid $color-image-border;
    background-color: #e0a23b;
    // background-color: #efeeee;
    margin: 0.5vw 2vw;
    // margin: 0 2vw;
  }
}
