.header {
  display: flex;
  justify-content: space-between;
  // flex: 1;

  &__left {
    display: flex;
    align-items: end;
  }

  &__type {
    aspect-ratio: 1/1;
    height: 5vh;

    &--image {
      width: 100%;
      height: 100%;
    }
  }
}
