.header {
  display: flex;
  justify-content: space-between;
  // flex: 1;

  &__left {
    display: flex;
    align-items: end;
  }

  &__type {
    aspect-ratio: 1/1;
    background-color: $color-type-background;

    // padding: 1vh;
    height: 5vh;
    overflow: hidden;
    position: relative;
    border-radius: 50%;

    &--image {
      width: max-content;
      height: 100%;
    }
  }
}
