.header {
  background-color: $color-black;
  display: flex;
  justify-content: center;

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include max-flex;

    @include tablet {
      flex-direction: row;
    }
  }
  &__left {
    display: flex;
    flex: 1;
  }
  &__tile {
    color: $color-mercury;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(16px) rem(24px);
    border-bottom: 4px solid transparent;
    flex: 1;

    @include tablet {
      flex: 0;
    }

    &:hover,
    &--selected {
      color: $color-white;
      border-bottom-color: $color-white;
    }
  }
}
